.game-frame__home {
	width: 100%;
	max-width: 480px;
	min-width: 320px;

	height: 100vh;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: linear-gradient(#ffab87, #8bacdb);
	background-size: cover;
	image-rendering: pixelated;
}
.link-button {
	background: url('/assets/img/joystick.png') no-repeat center;
}
.link-info {
	background: url('/assets/img/light-bulb.png') no-repeat center;
}
.link-shop {
	background: url('/assets/img/shop.png') no-repeat center;
}
.link-home {
	background: url('/assets/img/home.png') no-repeat center;
}
.link-button,
.link-info,
.link-home,
.link-shop {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;

	top: 5%;

	width: clamp(60px, 20vw, 100px);
	aspect-ratio: 100 / 81;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	image-rendering: pixelated;
	position: relative;

	padding: 10px;
	border-radius: 10px;
	background-color: rgba($color: #000000, $alpha: 0.5);

	z-index: 2;
}
.link-button-menu {
	width: clamp(110px, 20vw, 128px);
	aspect-ratio: 128 / 51;
	background: url('/assets/img/btn-back.png') no-repeat center;
	background-size: contain;
	image-rendering: pixelated;
	&.active {
		background: url('/assets/img/btn-back-active.png') no-repeat center;
		background-size: contain;
		image-rendering: pixelated;
	}
}
.header__title {
	text-align: center;
}
.main__window {
	// width: 100%;
	// height: calc(100vh - 180px);
	// position: relative;
	// overflow: hidden;
	// background: linear-gradient(#ffab87, #8bacdb);

	width: 100%;
	max-width: 480px;
	min-width: 320px;

	height: 100vh;
	margin: 0 auto;

	position: relative;
	&--title {
		text-align: center;
		padding-top: 5vh;
		color: getColor('col-b');
		text-shadow: 2px 2px 0 getColor('col-w');
	}
	&--subtitle {
		text-align: center;
		padding-top: 10vh;
		color: getColor('col-b');
		text-shadow: 2px 2px 0 getColor('col-w');
	}
}
.choose__box {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	aspect-ratio: 8 / 4;
	height: auto;
	background-image: url('/assets/img/HomeGrass.png');
	background-repeat: repeat-x;
	background-position: top left;
	background-size: auto 100%;
	image-rendering: pixelated;
	background-size: contain;
	image-rendering: pixelated;

	display: flex;
	justify-content: center;
	align-items: center;
	gap: clamp(1rem, 5vw, 3rem);

	z-index: 1;
}
.whiskas__collected {
	text-align: center;
	padding: 10% 0 2%;
	color: getColor('col-b');
	text-shadow: 2px 2px 0 getColor('col-w');
	font-size: clamp(1.5rem, 2.5vw, 3rem);

	&--wrapper {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		gap: 0.5em;
	}

	&--amount {
		font-size: clamp(3rem, 50%, 5rem);
		font-weight: 500;
	}

	&--coin {
		width: 2em;
		aspect-ratio: 1 / 1;
		background: url('/assets/img/coin-v2.png') no-repeat center/cover;
		image-rendering: pixelated;
	}
}

.playercat {
	position: absolute;
	bottom: 26%;
	left: 50%;
	transform: translateX(-50%);
	width: clamp(100px, 50%, 200px);
	aspect-ratio: 1 / 1;
	background: url('/assets.skins/CatMenu.png') no-repeat center;
	background-size: contain;
	image-rendering: pixelated;
	z-index: 3;
}
.link-text {
	font-size: clamp(1.5rem, 2vw, 2rem);
	color: getColor('col-w');
	text-shadow: 1px 1px 0 getColor('col-b');
	text-align: center;
}
