// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
// 	flex-direction: column;
//   min-height: 100vh;
//   margin: 0;
// }
.game-frame {
	width: 100%;
	max-width: 480px;
	min-width: 320px;

	height: 100vh;
	margin: 0 auto;
	position: relative;
	overflow: hidden;

	background: url('../../../public/img/shopBG.png') no-repeat center;
	background-size: cover;
	image-rendering: pixelated;
}
.shop {
	&__window {
		width: 100%;
		height: 100%;
		position: relative;
	}
	&__borderShop {
		position: relative;

		width: clamp(200px, 70%, 300px);
		aspect-ratio: 400 / 470;
		height: auto;

		background: url('../../../public/img/shopBordPrice.png') no-repeat
			center/cover;
		image-rendering: pixelated;
		top: 5%;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;

		&--amount {
			text-align: center;
			color: getColor('col-w');
			text-shadow: 2px 2px 0 getColor('col-b');
			font-size: 3.5rem;
			top: 80%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: 3;
		}
		&--coin {
			display: block;
			width: 30%;
			aspect-ratio: 1 / 1;
			background: url('../../../public/img/coin-v2.png') no-repeat center/cover;
			image-rendering: pixelated;

			top: 60%;
			left: 50%;
			transform: translate(-50%, -50%);
			position: absolute;
			z-index: 3;
		}
	}
	&__playercat {
		bottom: -50%;
		left: 50%;
		&--black {
			background: url('../../../public/skins/CatMenu.png') no-repeat center;
			position: absolute;
			transform: translateX(-50%);
			width: clamp(120px, 40vw, 200px);
			aspect-ratio: 2 / 3;
			background-size: contain;
			image-rendering: pixelated;
			z-index: 2;
		}

		&--blueCollar {
			background: url('../../../public/skins/homeBlueCollar.png') no-repeat
				center;

			position: absolute;
			transform: translateX(-50%);
			width: clamp(120px, 40vw, 200px);
			aspect-ratio: 2 / 3;
			background-size: contain;
			image-rendering: pixelated;
			z-index: 2;
		}
	}
	&__choose--box {
		position: absolute;
		bottom: -1px;
		left: 50%;
		transform: translateX(-50%);

		width: 100%;
		aspect-ratio: 66 / 27;
		height: auto;
		background: url('../../../public/img/borderChoose.png') no-repeat center;
		background-size: contain;
		image-rendering: pixelated;

		display: flex;
		justify-content: center;
		align-items: center;
		gap: clamp(1rem, 5vw, 3rem);

		z-index: 5;
	}
}
.left {
	background: url('../../../public/img/shopArrow.png') no-repeat center/cover;
}
.left,
.right {
	display: inline-block;
	width: clamp(40px, 15vw, 80px);
	aspect-ratio: 2 / 3;
	image-rendering: pixelated;
	border: none;
}
.right {
	background: url('../../../public/img/shopArrow.png') no-repeat center/cover;
	transform: scale(-1);
}
.cat-slider {
	display: flex;
	justify-content: space-between;
	position: relative;
	text-align: center;

	margin-top: 20vh;

	padding: 0 3%;
}
.lock-overlay {
	position: absolute;
	left: 50%;
	top: 0;
	transform: translate(-50%, -110%); // трохи вище від початку .lock--container

	width: clamp(50px, 10vw, 60px);
	aspect-ratio: 1 / 1.15;
	background: url('../../../public/img/lock.png') no-repeat center/cover;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	image-rendering: pixelated;

	z-index: 4;
}

.buy-btn {
	position: absolute;
	top: 135%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 6;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
}
.cat-price {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 4;
	font-size: clamp(2.4rem, 2vw, 4rem);
	color: getColor('col-w');
	text-shadow: 1px 1px 0 getColor('col-b');
	font-family: 'Silkscreen', sans-serif;
	&::after {
		content: '';
		display: block;
		width: 30%;
		aspect-ratio: 1 / 1;
		background: url('../../../public/img/coin-v2.png') no-repeat center/cover;
		image-rendering: pixelated;

		top: 50%;
		left: 120%;
		transform: translate(-50%, -50%);
		position: absolute;
		z-index: 3;
	}
}
.lock--container {
	z-index: 6;

	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	gap: 10px;
}
.cat-display {
	position: relative; // Батько для абсолютних елементів
	width: 100%;
	height: auto;
}
