aside {
	width: 200px;
	background-color: #f2f2f2;
	padding: 20px;
	color: #212121;
}

.main__window {
	flex: 1;
	padding: 20px;
}
.aboutproj{
	&__box{
	flex-direction: column;
	}
	&__list{
		display: flex;
		justify-content: space-between;
		width: 300px;
		outline: 1px solid tomato;
	}
}